.btn[data-size="sm"] {
    --paddingY: 4px;
    --paddingX: 10px;
    --font-size: 13px;
}

.btn[data-size="md"] {
    --paddingY: 6px;
    --paddingX: 16px;
    --font-size: 16px; 
}

.btn[data-size="lg"] {
    --paddingY: 8px;
    --paddingX: 22px;
    --font-size: 17px;
}

.btn[data-size="xl"] {
    --paddingY: 10px;
    --paddingX: 28px;
    --font-size: 18px;
}

.btn {
    border-radius: var(--btn-border-radius);
    border: none;
    box-sizing: border-box;
    padding: var(--paddingY) var(--paddingX);
    font-size: var(--font-size);
    line-height: 1.75;
    margin: 0;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.3s ease;
    column-gap: 8px;
    fill: var(--btn-secondary-color);

    span::before {
        content: "\200b"; // Zero-width space
    }

    span {
        display: inline-flex;
        align-items: center;

        svg {
          width: var(--icon-size);
          height: var(--icon-size);
        }
    }
    
    &.primary {
        background-color: var(--btn-primary-color);
        color: var(--btn-secondary-color);
    }
    
    &:hover:not([disabled]) {
        cursor: pointer;
        background-color: var(--btn-primary-color-hover);
    }
    
    &:disabled {
        opacity: 0.7;
        cursor: not-allowed;
    }
    
    &.secondary, &.outline {
        background-color: var(--btn-secondary-color);
        color: var(--btn-primary-color);
        fill: var(--btn-primary-color);
        
        &:hover:not([disabled]) {
            color: var(--btn-secondary-color);
            fill: var(--btn-secondary-color);
        }
    }
    
    &.outline {
        padding: calc(var(--paddingY) - 1px) calc(var(--paddingX) - 1px);
        border: 1px solid var(--btn-primary-color);
    }
    
    &.destructive {
        background-color: #dc2626;
        color: var(--btn-secondary-color);
        
        &:hover:not([disabled]) {
            background-color: #b91c1c;
        }
    }
}
