:root {
  --background: #f0f1f1;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #3a3f37;
    --foreground: #ededed;
  }
}

.layout-container {
  display: flex;
  min-height: 100vh;
}

html,
body {
  max-width: 100vw;
}

body {
  color: var(--foreground);
  background: var(--background);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  font-family: Helvetica, Arial, sans-serif;
  padding: 0;
  margin: 0;
}

*,
*::after,
*::before,
input,
textarea {
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}

.layout-content {
  max-width: 1512px;
  padding: 2rem;
  flex: 1;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
