// :root {
//   --background: #f0f1f1;
//   --foreground: #171717;
// }

// @media (prefers-color-scheme: dark) {
//   :root {
//     --background: #3a3f37;
//     --foreground: #f6f6f6;
//   }
// }

.layout-container {
  display: flex;
  flex-wrap: wrap;
  min-height: 100vh;
}

html,
body {
  max-width: 100%;
}

body {
  color: var(--foreground);
  background: var(--background);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  font-family: Helvetica, Arial, sans-serif;
  padding: 0;
  margin: 0;
}

*,
*::after,
*::before,
input,
textarea {
  line-height: 1.5;
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}

.layout-content {
  max-width: 1512px;
  padding: 2rem;
  flex: 1;
  min-width: 0;
  margin: 0 auto
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
