:root {
  --background: #dfe0df;
  --foreground: #2a2e28;
  --main-bg-color: #f6f6f6;
  --main-accent-color: #2a2e28;
  --accent-border-color: #8e958e;
  --accent-border-color-hover: #616461;
  --secondary-border-color: #dfe0df;
  --main-color-hover: #d1d1d1;
  --main-accent-active-color: #484c46;
}

#background-container {
  background-image: url('../../public/svg/background-light.svg');
  background-repeat: repeat;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #3e433b;
    --foreground: #f6f6f6;
    --main-bg-color: #343b32;
    --main-accent-color: #f6f6f6;
    --secondary-border-color: #2a2e28;
    --main-color-hover: #222520;
    --main-accent-active-color: #d6d6d6;
  }
  
  html {
    color-scheme: dark;
  }
  
  #background-container {
    background-image: url('../../public/svg/background-dark.svg');
  }
}




.layout-container {
  display: flex;
  flex-wrap: wrap;
  min-height: 100dvh;
}

html,
body {
  max-width: 100%;
}

body {
  color: var(--foreground);
  background: var(--background);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  font-family: Helvetica, Arial, sans-serif;
  padding: 0;
  margin: 0;
}

*,
*::after,
*::before,
input,
textarea {
  line-height: 1.5;
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}

.layout-content {
  max-width: 1512px;
  padding: 2rem;
  flex: 1;
  min-width: 0;
  margin: 0 auto
}
