.sidebar {
  background-color: #3e433b;
  color: #f6f6f6;
  height: 100vh;
  position: sticky;
  top: 0;
  transition: all 0.3s ease;

  &.closed {
    min-width: 8px;
    width: 8px;
  }

  &.open {
    min-width: 275px;
    width: 275px;
  }
}

.sidebarContent {
  padding: 0.5rem;
  width: 100%;
  height: 100%;
  border-right: 3px solid #2a2e28;

  .closed & {
    padding: 0;
  }
}

.toggleButton {
  position: absolute;
  top: 20px;
  right: 0;
  background-color: transparent;
  border: none;
  cursor: pointer;
  transition: all 0.3s ease;
  z-index: 10;

  &::before {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
    border-top: 12px solid #2a2e28;
    transform: rotate(0deg);
    transition: transform 0.3s ease, transform-origin 0.3s ease;
  }

  &.open::before {
    transform: rotate(90deg);
    transform-origin: 0 50%;
    right: -15px;
  }

  &.closed::before {
    transform: rotate(-90deg);
    transform-origin: 100% 50%;
    right: -6px;
  }

  &:hover {
    &::before {
      border-top: 12px solid #4b5247;
    }

    ~ .sidebarContent {
      border-right: 3px solid #4b5247;
    }
  }
}

.title {
  font-size: 1.25rem;
  margin-bottom: 1.25rem;
}

.section {
  font-size: 1rem;
  margin-bottom: 0.3125rem;
  position: relative;
  padding-left: 1.875rem;
  display: flex;
  align-items: center;

  &::before {
    content: "";
    position: absolute;
    left: 0.625rem;
    top: 65%;
    width: 1px;
    height: 12px;
    background-color: #f6f6f6;
  }

  &::after {
    content: "";
    position: absolute;
    box-sizing: content-box;
    left: 0.375rem;
    top: 50%;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    border: 2px solid #f6f6f6;
    transform: translateY(-50%);
  }
}

.navList {
  list-style: none;
  padding: 0;
  margin: 0;
  width: 100%;
}

.navItem {
  position: relative;

  &:last-child {
    margin-bottom: 0.625rem;
  }
}

.navLink {
  text-decoration: none;
  display: block;
  padding: 3px 3px 3px 40px;
  border-radius: 4px;
  transition: background-color 0.3s ease, color 0.3s ease;
  position: relative;
  width: 100%;

  &::before {
    content: "";
    position: absolute;
    left: 10px;
    top: 0;
    width: 1px;
    height: 100%;
    background-color: #f6f6f6;
    z-index: 0;
  }

  &:hover {
    background-color: #343b32;
    color: #d6d6d6;

    &::before {
      background-color: #d6d6d6;
    }
  }

  &.active {
    background-color: #343b32;
    color: #d6d6d6;

    &::before {
      background-color: #d6d6d6;
    }
  }
}

.navList,
.title,
.section,
.navLink {
  opacity: 1;
  transform: translateX(0);
  transition: opacity 0.3s ease 0.3s, transform 0.3s ease 0.3s;
  pointer-events: auto;
  visibility: visible;
}

.sidebar.closed .navList,
.sidebar.closed .title,
.sidebar.closed .section,
.sidebar.closed .navLink {
  opacity: 0;
  transform: translateX(10px);
  transition: opacity 0.2s ease, transform 0.2s ease;
  pointer-events: none;
  visibility: hidden;
}
